<br>
<div class="jumbotron">
	<h1>Bloccit by J</h1>
	<p> Bloccit is a copy of Reddit for sharing links with your friends</p>
   <% if !current_user %>	
	<p><%= link_to "Sign up", new_user_path, class: 'btn btn-info' %>
	<% end %>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Communiate with others</h2>
		<p>We can talk about your interest!<p>
	</div>
	<div class="col-md-4">
		<h2>Eliminates poverty!</h2>
		 <p>Bloccit will deliver money and education to those in need, all over the world.</p>
	</div>
	<div class="col-md-4">
		<h2>Makes you better looking</h2>
		<p>Bloccit will help you gain knowldge in deep.</p>
	</div>
</div>