// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gavatar{
 	height: 50px;
 	width: 50px;
 	margin-right: 15px;
 	margin-bottom: 5px;
 }